

<div class="button" style="width: 100%;">
   <div  style="float:left; width: 80%">
 
    <p class="mx1">Hi {{this.sid.sid1}}, Welcome back!</p>
    <p class="mx1">What you want to do today?</p>
    <ul class="navbar-nav">
      <li class="nav-item active">
      <button class="btn btn-success mx" routerLink="/stock-list">List Orders</button>
     
      </li>
      <li class="nav-item">
       <button class="btn btn-success mx" routerLink="/create-stock">Add Orders</button>
      </li>
      
    </ul>
    </div>

    <div style="float:right;" layout="column" class="right">

     <img src="/assets/download.jpg" alt="" width="100" height="100">
     <div>
      <img src="/assets/download.jpg" alt="" width="100" height="100">
   </div>
     <p >I'm to the right on larger devices.</p>
  </div>
  </div> 
  
<div style="clear:both"></div>
