.button{
    margin-top: 5%;
}

.mx{
    margin-top: 10px;
    margin-left: 20%;
}

.mx1{
    margin-top: 5px;
    margin-left: 20%;
}

.right{
    height:100%;
    width:50%;
  
    font-weight: bold;
}