
<nav class="navbar navbar-expand-lg navbar-dark bg-dark " >
  <a class="navbar-brand mx" href="#">Stocks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex" id="navbarNav">
 
    <ul class="navbar-nav">
      <li class="nav-item active ">
        <a class="nav-link"  routerLink="/stock-list" >List Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/stock-portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-stock">Add Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://team4dgraph.s3.eu-west-1.amazonaws.com/newFile.html">Stock Insights</a>
      </li>
      
    </ul>
  
  </div>

</nav>





<router-outlet></router-outlet>
<hr>
<footer >&copy; Frank 4D</footer>